---
name: CTT Usage Test

"on":
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/usage_test.yml
      - copier_template_tester/**
      - tests/**
      - uv.lock
      - pyproject.toml

jobs:
  usage-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Run Usage Test (Specifically addresses #34 for Windows)"
        run: |
          uv run ctt --base-dir="tests/data/ci_usage_test"
          cat "tests/data/ci_usage_test/.ctt/README.md"
